{% extends 'base.html.twig' %}

{% block body %}

    <h1>All articles where category is {{ category.name }} </h1>
    <br/>
    {% for article in article %}
        <div>
            <h2>{{ loop.index }} / {{ article.title }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}
    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>

{% endblock %}